body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://media.timeout.com/images/105964504/image.jpg');
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.app{
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.card{
  background-color: whitesmoke;
  width: 740px;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 555px;
  padding: 2%;
  box-shadow: 10px 10px;
  
}

.button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 210px;
  opacity: 1;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  background-color: yellowgreen;

}
.button :hover {
  background-color:khaki;
}